<div class="social-wrapper card">
  <span>Join our deal group for instant deal update</span>
  <div class="social-options">
     
    <div [matRippleColor]="colorCode[0]" matRipple><i  class="whatsapp fab fa-whatsapp"></i></div>
    <div [matRippleColor]="colorCode[1]" matRipple><i  class="telegram fab fa-telegram-plane"></i></div>
    <div [matRippleColor]="colorCode[2]" matRipple><i  class="facebook fab fa-facebook-f"></i></div>
    <div [matRippleColor]="colorCode[3]" matRipple><i  class="instagram fab fa-instagram"></i></div>
  </div>
</div>
