<div class="grid-wrapper">
  <div class="heading">
    <span>Some title name</span>
    <span class="viewall"> <a href="" mat-raised-button><span style="color:#007bff "> View all</span></a></span>
  </div>
  <div class="container card">
    <div class="item-row ">
      <div class="item"><app-grid-deals-item></app-grid-deals-item></div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="item"><app-grid-deals-item></app-grid-deals-item></div>
    </div>
    <mat-divider></mat-divider>
    <div class="item-row">
      <div class="item"><app-grid-deals-item></app-grid-deals-item></div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class=" item"><app-grid-deals-item></app-grid-deals-item></div>
    </div>
  </div>
</div>
