$slider-height: 160px;
.carousel-inner {
  height: $slider-height;
}

img {
  height: $slider-height;
  width: 100%;
  border-radius: 0px;
}
.active {
  animation: activeanim 2s ease-in;
}
@keyframes activeanim {
  0% {
    width: 10%;
  }
  20% {
    width: 20%;
  }
  40% {
    width: 40%;
  }
  60% {
    width: 60%;
  }
  80% {
    width: 80%;
  }
  100% {
    width: 100%;
}
}
