<div class="wrapper">
  <div class="nav-wrapper" [class.mat-elevation-z15]="true">
    <mat-toolbar>
      <mat-toolbar-row class="bottom-nav">
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          >person_outline</mat-icon
        >
        <!-- <span class="spacer"></span> -->
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          >verified_user</mat-icon
        >
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          >verified_user</mat-icon
        >
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          >verified_user</mat-icon
        >
        <mat-icon
          class="example-icon"
          aria-hidden="false"
          aria-label="Example user verified icon"
          >person_outline</mat-icon
        >
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <mat-sidenav-container
    class="example-container"
    (backdropClick)="close('backdrop')"
  >
    <mat-sidenav
      class="side-nav-cc"
      #sidenav
      (keydown.escape)="close('escape')"
      disableClose
    >
      <p>
        <button mat-button (click)="close('toggle button')">Toggle</button>
      </p>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="router-wrapper  " (scroll)="scrollHandler($event)">
        <div class="search-component ">
          <app-search (navAction)="toggleSideNav($event)"></app-search>
        </div>
        <div class="body-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
