.item-wrapper {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 10px;
    
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
  }
  .deal-title {
    font-size: 13px;
    height: 38px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
  }
  
  .price {
    font-weight: 600;
  }
  .source,
  .price,
  .deal-title {
    margin-bottom: 5px;
  }
  .image-wrapper {
    text-align: center;
  }
  .image-wrapper img {
    height: 100px;
    width: auto;
    padding: 10px 5px;
  }
  .visit {
    padding-top: 5px;
    height: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
  }
  .options {
    display: flex;
  }
  .options span {
    margin: auto;
    padding-top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
  
    text-align: center;
  }
  mat-icon{
    height: 14px;
    width: 14px;
  }
  .options a {
    margin-left: auto;
  }
  .options button {
    padding: 0px;
    height: 25px;
  }
  