<div class="item-wrapper card" matRipple>
    <div class="image-wrapper" > 
      <img src="assets/iii.jpg"  alt="" />
    </div>
    <div class="content-wrapper">
      <div class="deal-title">
        <a href="#">
          JBL T205BT pure Basss wireless JBL T205BT pure Basss wirelessJBL T205BT
          pure Basss wirelessJBL T205BT pure Basss wireless</a
        >
      </div>
      <div class="price">₹ 7,890</div>
      <div class="source">Amazon.com</div>
    </div>
    <mat-divider></mat-divider>
    <div class="options">
      <span matRipple class="save"><i class="fas fa-save    "></i></span>
      <span matRipple class="share">
        <i class="fa fa-share" aria-hidden="true"></i
      ></span>
      <a matRipple class="visit" href="#">Visit</a>
      <!-- <button class="visit" mat-raised-button color="primary">Visit</button> -->
    </div>
  </div>
  