.banner-wrapper {
  width: auto;
  height: 150px;
  position: relative;
}
.banner-wrapper img {
  width: 100%;
  height: 100%;
}
.banner-wrapper button {
  position: absolute;
  right: 10px;
  bottom: 10px;
  height: 30px;
  z-index: 10;
  border-radius: 20px;
  font-size: 10px;
  line-height: 0px
}
