.login-wrapper {
  display: flex;
  height: 150px;
  width: auto;
  flex-direction: row;
  padding: 10px;
}
.login-image img {
  width: 128px;
  height: 128px;
}

.login-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description {
  text-align: center;
  font-size: 13px;
  padding-bottom: 10px; 
}
