<div class="component-wrapper">
  <div class="next-wrapper">
    <div
      class="card more-button"
      matRipple
      [matRippleColor]="primary"
      (click)="scrollLeft()"
    >
      <mat-icon class="app-icon" aria-hidden="false" aria-label="left"
        >chevron_left</mat-icon
      >
    </div>
  </div>
  <div class="holder" #scrollable>
    asadsasdasd
  </div>
  <div class="next-wrapper ">
    <div
      class="card more-button"
      matRipple
      [matRippleColor]="primary"
      (click)="scrollRight()"
    >
      <mat-icon class="app-icon" aria-hidden="false" aria-label="right"
        >chevron_right</mat-icon
      >
    </div>
  </div>
</div>
