<div class="dealwrapper card">
  <div class="deal-heading-wrapper">
    <span class="title">Loot Offers</span>
    <span class="viewall"> <a href="viewall" mat-raised-button><span style="color:#007bff "> View all</span></a></span>
  </div>
  <div class="list-wrapper">
    <app-horizontal-deal-items></app-horizontal-deal-items>
    <app-horizontal-deal-items></app-horizontal-deal-items>
    <app-horizontal-deal-items></app-horizontal-deal-items>
    <app-horizontal-deal-items></app-horizontal-deal-items>
    <!-- <app-horizontal-deal-items
      [deal]="deal"
      *ngFor="let deal of deals"
    ></app-horizontal-deal-items> -->
  </div>
</div>
